/*
 * SPDX-License-Identifier: EUPL-1.2
 * Copyright Regione Piemonte - 2022
 */

.csi-stepper-no-padding .q-stepper-step-inner
  padding 0

  @media (min-width: $breakpoint-md)
    padding 8px

.csi-stepper-no-shadow,
.csi-stepper-no-shadow .q-stepper-header
  box-shadow none

.csi-stepper
  &-pa-md
    .q-stepper-step-inner
      padding: $spaces.md.x
